.app_container_ {
  width: 85%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2rem;
  margin-top: 1rem !important;
}
div label span {
  font-weight: 600;
  color: red !important;
}
.my_form .row {
  position: relative;
}
.my_form .row::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 0;
}
.submit{
  background: var(--transparent-color) !important;
  border:var(--transparent-color);
  position: relative;
  left: 100%;
  transform: translateX(-100%);
}

@media screen and (max-width: 650px) {
  .app_container_{
    width: 100%;
    padding: 0 1.5rem;
  }
}
