/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  background: #f3f3f3 !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 6px;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --main-transition: 0.3s;
  --second-color: #68b0abcf;
  --third-color: #1da1f2;
  --cadetblue-color: cadetblue;
  --padding-top: 100px;
  --padding-bottom: 100px;
}

/* mohamed_part */
/* Big Container start */

.app_container_{
  height: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* Big Container End */
.main-heading {
  width: fit-content;
  margin: 0px auto 80px;
  position: relative;
  border: 2px solid black;
  text-transform: uppercase;
}

.main-heading::after,
.main-heading::before {
  content: "";
  position: absolute;
  background-color: var(--second-color);
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.main-heading::after {
  left: -30px;
}
.main-heading::before {
  right: -30px;
}
.main-heading:hover {
  border: 1px solid white;
  color: white;
  transition-delay: 0.5s;
}
.main-heading:hover::before {
  animation: move-left 0.5s linear forwards;
  z-index: -1;
}

.main-heading:hover::after {
  animation: move-right 0.5s linear forwards;
  z-index: -1;
}

@keyframes move-left {
  to {
    right: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes move-right {
  to {
    left: 0;
    width: 50%;
    height: 100%;
  }
}
a {
  text-decoration: none !important;
}
.a-icon {
  color: white !important ;
  user-select: none;
}
.drop-down li {
  margin-bottom: 1em;
}
.black {
  color: black;
}
/* End Global Rules */
/* Start Main Hedaer Of Each Page */
.landing-page {
  background-image: url(../images/centre.jpg);
  position: relative;
  background-size: 100%;
  height: 45vh;
  background-attachment: fixed;
  background-position: top left;
}
.landing-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--transparent-color);
}
.main-header {
  color: white;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  font-size: 60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index: 2;
}
/* mohamed_part */
.profile-img {
  width: 2.6rem !important;
  height: 2.6rem !important;
  border-radius: 50% !important;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  padding: 0.2rem;
  margin: 0;
}
.header_profile {
  margin: 0 0.3rem;
  cursor: pointer;
}
/* End Main Hedaer Of Each Page */
/* Start Header */
header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
.head-top {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap !important;
  align-items: center;
  justify-content: space-between;
  color: #ddd;
  height: 18px;
  gap: 160px;
}

.head-top .contact {
  display: flex;
  align-items: center;
}

.head-top .contact .fa-phone {
  margin-right: 10px;
}
.head-top .contact .fa-phone,
.head-top .contact a,
.head-top .social i {
  color: #ddd;
}
.head-top .social a:hover,
.nav-link:not([data-log="log"]):hover {
  transform: scale(1.05);
}
.navbar {
  background-color: rgb(15 116 143 / 100%);
}
/*.fixed-top {
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1020;
}*/
.nav-link {
  color: var(--transparent-color) !important;
  padding: 2px 5px !important;
  margin-right: 2px !important;
  font-size: 16px !important;
  border-radius: 7px !important;
}
.logo a,
.logo-toggler a {
  font-size: 28px !important;
  color: #0f4883 !important;
  font-weight: bold !important;
}
.logo a span {
  color: var(--transparent-color) !important;
}
.logo-toggler a span {
  color: white !important;
}
.collapse {
  background-color: white !important ;
  border-radius: 6px !important;
}
.nav-link:not([data-lg="logo"]):hover {
  background-color: var(--transparent-color) !important;
  color: white !important;
}
.nav-link[data-lg="logo"]:hover {
  color: #0f4883 !important;
}

.nav-link:focus {
  color: #6e6e6e !important;
}

.fa-bars {
  color: white;
  height: 2rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse.show {
  padding-top: 15px;
}
.btn-log,
button[data="valider"] {
  color: white !important;
  background-color: var(--transparent-color) !important ;
  padding: 2px 10px !important;
  margin-right: 2px !important;
  border-radius: 6px !important;
  border: none !important;
}
button[data="valider"] {
  position: absolute !important ;
  right: 60px !important;
  padding: 5px 10px !important;
}

.btn-log:hover {
  background-color: rgb(15 116 143 / 80%) !important;
  color: white !important;
}
.login {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.rdv {
  background-color: var(--second-color) !important;
  border-radius: 6px !important;
  color: white !important;
}

nav .container {
  flex-direction: column;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #ddd;
}
/* End Header */

/* Start Media */
@media (max-width: 992px) {
  .head-top {
    display: none !important;
  }
  nav .container {
    flex-direction: row;
  }
}
@media (max-width: 1200px) {
  .navbar-nav > li:last-child a {
    width: 205px;
  }
}
@media (max-width: 990px) {
  .landing .content {
    position: absolute;
    top: 20%;
    z-index: 1400;
  }
  .landing .row > button {
    margin-right: 1rem;
    margin-bottom: 1em;
  }
}
@media (min-width: 992px) {
  .logo-toggler {
    display: none;
  }
}
@media (max-width: 992px) {
  .nav-item {
    width: 98% !important;
  }
  .nav-link:hover {
    display: block;
    width: inherit;
    position: relative;
    left: -10px;
    left: 8px;
  }
}

/* End Media */

/* Start Landing Page */
.landing {
  min-height: 100vh;
  background-color: var(--transparent-color);
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 65%;
  left: 50%;
  bottom: 0px;
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  z-index: 3;
  animation: wave 5s ease-in-out infinite alternate;
}
@keyframes wave {
  from {
    transform: translateX(-30%) skew(0, -8deg);
  }
  to {
    transform: translateX(-20%) skew(-8deg, 0);
  }
}

.landing .content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 29;
}
.landing .text {
  color: white;
}

.btn-lang {
  background-color: #266b66cf !important;
  color: white !important;
  font-size: 18px !important;
  border: none !important;
}
.btn-lang:hover {
  background-color: white !important;
  color: #266b66cf !important;
}
@media (max-width: 666px) {
  .landing .text .row {
    gap: 4px;
  }
}

/* End Landing Page */

/*Start About Page */
.about {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  position: relative;
  z-index: 1000;
}
.More {
  color: white;
  font-size: 1.5em;
  border: 1px solid white;
  text-transform: uppercase;
  display: block;
  padding: 0.5em 1em;
  width: fit-content;
  background-color: var(--transparent-color);
}
.More:hover {
  transform: scale(1.05);
}
@media (max-width: 666px) {
  .about .information {
    margin-top: 1rem;
  }
}
@media (max-width: 992px) {
  .More {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
}
.More:hover {
  transform: scale(1.05);
}
/* ===================================*/

.carousel-item img {
  height: 500px;
}
.bv {
  color: var(--cadetblue-color);
}
.cl-h2 {
  color: #0f4883;
}
.bg-tr-txt {
  text-align: center;
  background-color: var(--transparent-color);
  height: fit-content;
}
.contact-nous {
  color: white;
}
.contact-nous {
  text-transform: uppercase;
  font-size: 40px;
}
.to-contact {
  padding: 5px 10px;
  background-color: white;
  color: var(--cadetblue-color);
  border-radius: 6px;
  margin: 15px auto 15px;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 22px;
}
.to-contact:hover {
  color: white;
  background-color: var(--cadetblue-color);
}

/*End About Page */

/*Start Appointment Page */

.desp {
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 80px;
}
.desp::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: -40px;
  /* mohamed_part */
  left: 0;
}
.br-top {
  border-top: 1px solid #ddd;
}
.br-bott {
  border-bottom: 1px solid #ddd;
}
.desp p {
  color: #666565;
  font-size: 15px;
}
span {
  color: red;
}

/* Start date picker */
.disabled.disabled-date {
  background-color: #ff000069 !important;
  color: white !important;
  cursor: no-drop !important;
  border-radius: 50% !important;
}
.today {
  background-color: var(--transparent-color) !important;
}
.datepicker {
  top: 1340px;
}
@media (min-width: 807px) {
  .datepicker-days,
  .table-condensed {
    width: 35vw !important;
  }
}
@media (min-width: 779px) {
  .datepicker-days,
  .table-condensed {
    width: 40vw !important;
  }
}
@media (min-width: 1000px) {
  .datepicker-days,
  .table-condensed {
    width: 20vw !important;
  }
}
.datepicker-days,
.table-condensed {
  width: 50vw;
}

.datepicker-days tbody {
  height: 25vh;
}
.datepicker-days tr:nth-child(2) {
  margin-bottom: 3px;
}
/* Days Of Week */
.dow {
  color: #999;
  font-weight: 400;
}
.month,
.year {
  color: black;
}
/* End date picker */

/* Start Succes Page */
.succes,.echec {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ddddddf0;
  color: #fff;
  text-align: center;
  z-index: 9999;
  opacity: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 30em;
  max-width: 90%;
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.succes_icons i ,
.echec_icons i {
  background-color: white;
  box-shadow: 0px 0px 10px #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto 1em;
}
.succes_icons i  {
  color: var(--cadetblue-color);
  padding: 10px;
  font-size: 2.5em;
}
.echec_icons i  {
  color: red;
  font-size: 3.5em;
}

.succes p,
.echec p ,
.succes h2 ,
.echec h2 {
  color: black;
}
.succes a,
.echec a {
  display: block;
  color: white;
  background-color: var(--cadetblue-color);
  border-radius: 6px;
  padding: 0.4em 1em;
  width: fit-content;
  margin: 0 auto;
  font-size: 22px;
  text-transform: uppercase;
}
.succes a:hover,
.echec a:hover {
  color: white;
}
.app_fixe {
  filter: blur(2px) !important;
  transition: 0.3s ease-in-out !important;
  pointer-events: none !important;
}
#appointment .select-services {
  box-sizing: content-box;
  margin: 0;
  list-style: none;
  padding: 0 1px;
  text-align: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid #aaa;
}
#appointment .select-services.inactive {
  display: none;
}
#appointment .select-services.active {
  display: block;
}
#appointment .select-services ul {
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: content-box;
  display: block;
  margin: 0;
}
#appointment .select-services ul li {
  margin: 0;
  padding: 0;
}
#appointment .select-services ul li a {
  border: 1px solid transparent;
  color: #222;
  display: block;
  padding: 0.4em 0.6em;
  cursor: default;
}
#appointment .select-services ul li a:hover {
  background-color: #dadada;
  border: 1px solid #999;
  font-weight: 400;
  color: #212121;
}
/* End Succes Page */
/*End Appointment Page */
