/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  background: #f3f3f3;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 6px;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --main-transition: 0.3s;
  --second-color: #68b0abcf;
  --third-color: #1da1f2;
  --cadetblue-color: cadetblue;
  --padding-top: 100px;
  --padding-bottom: 100px;
}
.main-heading {
  width: fit-content;
  margin: 0px auto 80px;
  position: relative;
  border: 2px solid black;
  text-transform: uppercase;
}

.main-heading::after,
.main-heading::before {
  content: "";
  position: absolute;
  background-color: var(--second-color);
  width: 10px;
  height: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
.main-heading::after {
  left: -30px;
}
.main-heading::before {
  right: -30px;
}
.main-heading:hover {
  border: 1px solid white;
  color: white;
  transition-delay: 0.5s;
}
.main-heading:hover::before {
  animation: move-left 0.5s linear forwards;
  z-index: -1;
}

.main-heading:hover::after {
  animation: move-right 0.5s linear forwards;
  z-index: -1;
}

@keyframes move-left {
  to {
    right: 0;
    width: 50%;
    height: 100%;
  }
}
@keyframes move-right {
  to {
    left: 0;
    width: 50%;
    height: 100%;
  }
}

a {
  color: white;
  text-decoration: none;
  user-select: none;
}
.drop-down li {
  margin-bottom: 1em;
}
.black {
  color: black;
}
/* End Global Rules */
/* Start Main Hedaer Of Each Page */
.landing-page {
  background-image: url(../assets/about/centre.jpg);
  position: relative;
  background-size: 100%;
  height: 45vh;
  background-attachment: fixed;
  background-position: top left;
}
.landing-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--transparent-color);
}
.main-header {
  color: white;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
  font-size: 60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  z-index: 2;
}
/* End Main Hedaer Of Each Page */
/* Start Header */
header {
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
.head-top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: #ddd;
  height: 18px;
  gap: 160px;
}

.head-top .contact {
  display: flex;
  align-items: center;
}

.head-top .contact .fa-phone {
  margin-right: 10px;
}
.head-top .contact .fa-phone,
.head-top .contact a,
.head-top .social i {
  color: #ddd;
}
.head-top .social a:hover {
  transform: scale(1.05);
}
.navbar {
  background-color: rgb(15 116 143 / 100%);
}

.nav-link {
  color: var(--transparent-color);
  padding: 2px 5px;
  margin-right: 2px;
  font-size: 16px;
}
.logo a,
.logo-toggler a {
  font-size: 28px;
  color: #0f4883;
  font-weight: bold;
}
.logo a span {
  color: var(--transparent-color);
}
.logo-toggler a span {
  color: white;
}
.collapse {
  background-color: white;
  border-radius: 6px;
}
.nav-link:not([data-lg="logo"]):hover {
  background-color: var(--transparent-color);
  border-radius: 7px;
  color: white;
}
.nav-link[data-lg="logo"]:hover {
  color: #0f4883;
}
.nav-link:hover {
  transform: scale(1.05);
}
.nav-link:focus {
  color: #6e6e6e;
}

.fa-bars {
  color: white;
  height: 2rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-collapse.show {
  padding-top: 15px;
}
.btn-log,
button[data="valider"] {
  color: white;
  background-color: var(--transparent-color);
  padding: 2px 10px;
  margin-right: 2px;
  border-radius: 6px;
  border: none;
}
button[data="valider"] {
  position: absolute;
  right: 60px;
}

.btn-log:hover {
  background-color: rgb(15 116 143 / 80%);
  color: white;
}
.login {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}
.rdv {
  background-color: var(--second-color);
  border-radius: 6px;
  color: white;
}

nav .container {
  flex-direction: column;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #ddd;
}
/* End Header */

/* Start Media */
@media (max-width: 992px) {
  .head-top {
    display: none;
  }
  nav .container {
    flex-direction: row;
  }
}
@media (max-width: 1200px) {
  .navbar-nav > li:last-child a {
    width: 205px;
  }
}
@media (max-width: 990px) {
  .landing .content {
    position: absolute;
    top: 20%;
    z-index: 1400;
  }
  .landing .row > button {
    margin-right: 1rem !important;
    margin-bottom: 1em !important;
  }
}
@media (min-width: 992px) {
  .logo-toggler {
    display: none;
  }
}

/* End Media */

/* Start Landing Page */
.landing {
  min-height: 80vh;
  background-color: var(--transparent-color);
  position: relative;
  overflow: hidden;
}
.landing::before {
  content: "";
  background-color: #f3f3f3;
  position: absolute;
  width: 300%;
  height: 100%;
  top: 50%;
  left: 50%;
  bottom: 0px;
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  z-index: 3;
  animation: wave 5s ease-in-out infinite alternate;
}
@keyframes wave {
  from {
    transform: translateX(-30%) skew(0, -8deg);
  }
  to {
    transform: translateX(-20%) skew(-8deg, 0);
  }
}

.landing .content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 29;
}
.landing .text {
  color: white;
}
.landing .text a,
.rdv-box a {
  color: var(--transparent-color);
  border-color: var(--second-color);
  background-color: var(--second-color);
  padding: 0px 15px;
}
.rdv-box {
  color: white;
  background-color: var(--second-color);
  border-radius: 10px;
  padding: 15px 8px;
  text-align: center;
}
.rdv-box a {
  background-color: black;
}

.btn-lang {
  background-color: #266b66cf !important;
  color: white !important;
  font-size: 18px !important;
  border: none !important;
}
.btn-lang:hover {
  background-color: white !important;
  color: #266b66cf !important;
}
/* End Landing Page */

/*Start About Page */
.about {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  position: relative;
  z-index: 1000;
}
/* ===================================*/

.carousel-item img {
  height: 500px;
}
.bv {
  color: var(--cadetblue-color);
}
.cl-h2 {
  color: #0f4883;
}
.bg-tr-txt {
  text-align: center;
  background-color: var(--transparent-color);
  height: fit-content;
}
.contact-nous {
  color: white;
}
.contact-nous {
  text-transform: uppercase;
  font-size: 40px;
}
.to-contact {
  padding: 5px 10px;
  background-color: white;
  color: var(--cadetblue-color);
  border-radius: 6px;
  margin: 15px auto 15px;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  font-size: 22px;
}
.to-contact:hover {
  color: white;
  background-color: var(--cadetblue-color);
}

/*End About Page */

/*Start Appointment Page */

.desp {
  border-bottom: 1px solid #ddd;
  position: relative;
  margin-bottom: 80px;
}
.desp::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: -40px;
}
.br-top {
  border-top: 1px solid #ddd;
}
.br-bott {
  border-bottom: 1px solid #ddd;
}
.desp p {
  color: #666565;
  font-size: 15px;
}
span {
  color: red;
}

/*End Appointment Page */
