*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  font-family: cursive,sans-serif;
}
body{
    overflow-x: hidden;
}
/* The Footer Styling   */
/* Mohamed Matrab Section */
footer{
    /* width: 100%; */
}
footer .footer-container {
  width: 100%;
  height: 20rem;
  position: absolute;
  bottom: 0;
  display: flex;
  white-space: normal;
  padding: 2rem;
  background: rgb(243, 243, 243);
  /* border: 2px solid; */
  /* background: linear-gradient(
    to bottom right,
    rgba(243, 243, 243, 1) 0%,
    rgb(232, 248, 252) 100%
  ); */
}

/* Sections of the footer */
.footer-section {
  width: 15%;
  height: 100%;
  text-align: start;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
h3 {
  font-family:  cursive;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

h1 {
  font-family: cursive, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.footer-section .footer-icons {
  display: flex;
  flex-direction: row;
}

.footer-icons i{
  /* font-size: 2rem;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  color: white;*/
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 60px;
  box-shadow: 0 0 2px #888;
  background: black;
  color: white;
  padding: 0.5em 0.6em;
}

/* i{
    font-size: 1rem;
} */

#footer-subscribe {
  display: flex;
  align-items: center;
  align-content: center;
}
