*,*::after,*::before{
    box-sizing: border-box;
}


/* The Footer Styling   */
/* Mohamed Matrab Section */

footer .footer-container{
    display: flex;
    white-space: normal;
    padding: 1rem;
}

/* Sections of the footer */
.footer-section {
    width: 22%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer-section div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-section div h3{
    margin-left: 10px;
}
