*,
*::after,
*::before {
  box-sizing: border-box;
}
* {
  font-family: "Roboto", sans-serif;
}
#porfolio-page {
  margin-bottom: 1rem !important;
}

.heading-section {
  width: 100%;
  height: 6rem;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  background: #0f4883;
}

.heading-section h1 {
  margin: auto;
  font-size: 3rem;
  font-weight: 600;
  color: white;
  position: relative;
}

.heading-section h1::after {
  content: "";
  width: 31%;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 1rem;
  background: white;
}

.mygroup-select {
  width: 98%;
  margin: 0 1%;
  display: flex;
  padding: 0 1rem ;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mygroup-select label {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.mygroup-select select {
  width: 50%;
}

.galerie-group {
  width: 100%;
  max-width: 100%;
  min-height: 24.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  transition: all 2s ease-in-out;
}

.image-section {
  width: 21rem;
  height: 21rem;
  margin: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.3);
  transition: all 1s ease-in-out;
}
#add_image {
  width: 37px;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  background: var(--transparent-color);
  position: relative;
  margin-left: 0.4rem;
  box-shadow: 0px 0px 0px 0.5px rgba(126, 126, 126, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
#add_image::after{
  content: 'Ajouter Une Image';
  height: fit-content;
  width: 10rem;
  color: white;
  position: absolute;
  display: none;
  border-radius: 1rem;
  bottom: 40px;
  opacity: 90%;
  left: -4rem;
  padding: 0.8rem;
  background: rgb(48, 48, 48);
}
#add_image:hover::after{
  display: flex;
}
#add_image i {
  margin: auto;
  margin-top: 0.1rem;
  padding: 0;
  font-size: 2rem;
  color: white;
  /* border: 1px solid; */
}
.image-section img {
  width: 100%;
  height: 100%;
  /* border-radius: 1rem; */
  /* border: 2px solid; */
  transition: all 0.6s ease-in-out;
}

.image-section:hover img {
  transform: scale(1.1);
}
.image-section::after {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  /* border-radius: 1rem; */
  transform-origin: left;
  transition: all 0.3s ease-in;
  background: black;
}

.image-section .description-image {
  width: 80%;
  height: 2rem;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.7rem;
  text-align: center;
  margin: auto;
  position: relative;
  bottom: 2rem;
  opacity: 0;
  transition: 0.5s ease-out;
  background: #65d8ea;
}
.description-image span {
  color: black !important;
}
.image-section:hover::after {
  opacity: 40%;
}
.image-section .description-image span {
  font-family: cursive;
}
.image-section:hover .description-image {
  opacity: 100%;
  bottom: 4rem;
}
.del,
.edit {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  position: absolute;
  top: -1rem;
  left: 25%;
  top: 33%;
  margin: 0.7rem;
  transition: 0.3s ease-in-out;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.edit {
  transition-delay: 0.1s;
  right: 25%;
  left: auto;
}
.edit:hover,
.del:hover {
  transition: none;
  color: #ff6347;
}
.image-section:hover .edit,
.image-section:hover .del {
  display: flex;
  opacity: 1;
  top: 37%;
}
@media (max-width: 580px) {
  .mygroup-select {
    justify-self: flex-start;
    align-items: flex-start;
  }
  .mygroup-select label {
    display: none;
  }
  .mygroup-select select {
    width: 85%;
  }
  #add_image {
    margin: auto;
  }
  .heading-section h1 {
    font-size: 2.5rem;
  }
}
