/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  background: #f3f3f3;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: var(--second-color);
  border-radius: 6px;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
  --main-transition: 0.3s;
  --second-color: #68b0abcf;
  --third-color: #1da1f2;
  --cadetblue-color: cadetblue;
  --logo-color: #0f4883;
  --padding-top: 100px;
  --padding-bottom: 100px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}
/* End Global Rules */

/* Start Header */
.app-container {
  box-shadow: 0 0 6px #dedede;
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1em 1.5em;
  align-items: center;
  justify-content: center;
}
.header_logo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 18%;
}
.logo {
  color: var(--logo-color);
  font-size: 1.5em;
  font-weight: bold;
}
.logo span {
  color: var(--transparent-color);
}
.header_pane {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_pane {
  background: #f3f3f3;
}
button {
  border: none;
  background-color: white;
}
.hamburger-box {
  width: 1.5em;
  display: block;
  height: 0.1em;
  background-color: var(--transparent-color);
  position: relative;
}
.hamburger-box::after,
.hamburger-box::before {
  content: "";
  position: absolute;
  width: 1.5em;
  height: 0.1em;
  background-color: var(--transparent-color);
}
.hamburger-box::after {
  top: -8px;
  transform: translateY(-50%);
  left: 0;
}
.hamburger-box::before {
  bottom: -8px;
  left: 0;
}

.header_content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.mega-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bi-chevron-down::before {
  font-size: 11px;
}
.nav-item {
  color: #969494;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.icon-sett {
  font-size: 1.5em;
  color: var(--transparent-color);
}
.icon-gift {
  color: var(--transparent-color);
}
/* End Header */

/* Start Sidebar */
.sidebar {
  box-shadow: 0 0 6px #dedede;
  position: absolute;
  height: calc(100vh + 100px);
  width: 20%;
  background-color: white;
}
.sidebar section h2:hover,
.sidebar section li.option:hover a {
  background-color: #e0f3ff;
  border-radius: 6px;
  cursor: pointer;
}
.sidebar section li.option:hover a {
  color: #3f6ad8;
}
.sidebar section li.option a:focus {
  color: #3f6ad8;
  background: #e0f3ff;
  font-weight: 700;
  border-radius: 6px;
}
.sidebar section h2 {
  padding: 10px 15px;
}
.sidebar section li.option a {
  padding: 5px 5px 5px 10px;
  width: 100%;
  display: block;
  margin-top: 3px;
}
.sidebar section ul {
  margin-top: 0;
}
.disable {
  position: relative;
}
.disable::after {
  content: "";
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  height: 8px;
  width: 12px;
  background-color: black;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: 0.3s;
}

.drop-down {
  position: relative;
}
.drop-down::after {
  content: "";
  height: 100%;
  opacity: 1;
  width: 3px;
  background: #e0f3ff;
  position: absolute;
  left: 17px;
  top: 0;
  border-radius: 15px;
}

.ac-tive {
  position: relative;
}

.ac-tive::after {
  content: "";
  position: absolute;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  height: 8px;
  width: 12px;
  background-color: black;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  transition: 0.3s;
}

/* End Sidebar */

/* Start Content Appointment */
.appointment {
  position: absolute;
  left: 25vw;
  top: 20vh;
  padding-bottom: 100px;
}
.appointment p {
  color: #969494;
  margin-bottom: 0;
}

.appointment h2 {
  font-size: 1.5em;
  font-weight: 400;
}
.appointment .table {
  background-color: white;
}
.appointment .thead-dark {
  background-color: var(--transparent-color);
  color: white;
  letter-spacing: 0.1em;
}
.appointment .table-appoint {
  width: 70vw;
}
.appointment .tab a {
  color: white;
  background-color: var(--cadetblue-color);
  border-radius: 6px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.appointment .tab a:hover {
  background-color: var(--second-color);
}
.appointment th {
  font-weight: 400;
}
.dataTables_length {
  display: none;
}
.paginate_button a {
  margin-right: 10px;
  margin-top: 5px;
  background-color: #ddde;
  padding: 5px 10px;
  border-radius: 6px;
  display: block;
  color: white;
}
.active a,
.paginate_button:nth-child(1) a,
.paginate_button:last-child a {
  background-color: var(--cadetblue-color);
  padding: 5px 10px;
  border-radius: 6px;
}
.disabled a {
  cursor: default;
  background-color: #ddde !important;
}

a.dossier i {
  font-size: 28px;
  color: var(--transparent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End Content Appointment */


/* Start Patient details */
#file .head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
}
#file .head .name_pt {
  color: rgb(15 116 143);
}
#file .info {
  background-color: #8fbc8f1f;
  margin: 3em 0;
  padding: 15px 20px ;
  position: relative;
}
#file .info::after {
  content: "";
  position: absolute;
  background-color: red;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: -50px;;
}
#file .info .box  {
  margin-bottom: 15px;
}
#file  h3 {
  color: rgb(15 116 143);
  font-size: 22px;
  margin-bottom: 0;
}

#file .content {
  margin: 7em 0;
  position: relative;
}

#file .info_appoint {
  margin-top: 5px;
  padding: 15px 20px ;
  background-color: #8fbc8f1f;
}
/*#file .hidde {
  display: none;
} */
.visible {
  display: block;
}
#file .info_appoint .date {
  font-size: 20px;
}

#file .date {
  position: relative;
  cursor: pointer;
}
#file .date::before {
  content: "";
  position: absolute;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  height: 8px;
  width: 12px;
  background-color: black;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.3;
  transition: 0.3s;
}


.sr-only {
    clip: rect(0,0,0,0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
input[type=file] {
  background: unset;
  border-color: inherit;
  border-radius: 0;
  border-width: 0;
  font-size: unset;
  line-height: inherit;
  padding: 0;
}
/* End Patient details */